/* Theme variables for remaster sheet variations */
.dark-theme {
  --pfui-main-color: #cfbda7;
}

/* Light remaster palette */
.remasterLight {
  --primary-remaster: hsl(153, 100%, 88%);
  --on-primary-remaster: #000000;
}

/* Dark remaster palette */
.remasterDark {
  --primary-remaster: hsl(153, 100%, 8%);
  --on-primary-remaster: #ffffff;
}

/* Red remaster palette */
.remasterRed {
  --primary-remaster: hsl(0, 65%, 15%);
  --on-primary-remaster: #ffffff;
}
